<ion-header>
  <ion-toolbar color="dark-blue">
    <span>
      <button menuToggle ion-button icon-only clear>
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </span>
    <img src="assets/imgs/header-logo.png">
    <span>
      <button ion-button icon-only (click)="notification()" clear>
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <span class="notify" *ngIf="notify_count!=0" [hidden]="notify_count==undefined">{{notify_count}}</span>
      </button>      
    </span>
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="subheader">
    <h3 id="history_dates">History<span *ngIf="types?.length!=0">{{start_date | date: 'dd-MMM-yyyy' }} - {{end_date | date: 'dd-MMM-yyyy'}}</span></h3>
    <ion-icon id="history_search_button" name="search" (click)="toggle()"></ion-icon>
  </div>  
  <div class="button-group" *ngIf="types?.length!=0">
      <button ion-button color="dark-blue" id="history_previous" (click)="previous('previous')" [ngStyle]="{'background-color': btnColor_pre,'color': colors_pre}">
        <ion-icon name="ios-arrow-back" ></ion-icon>
        Prev
      </button>
      <button ion-button color="dark-blue" id="history_next" [disabled]="!isenabled || endtempdate==end_date" (click)="next('next')" [ngStyle]="{'background-color': btnColor_next,'color': colors_next}">Next
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
  </div>

  
 <ion-toolbar class="segment" *ngIf="types?.length!=0">
    <ion-segment  [(ngModel)]="selectedSegment"  (ionChange)="onSegmentChanged($event)">   
        <ion-segment-button *ngFor="let slide of types; let i = index" (click)="type(slide,i)" value="{{slide.genre_type}}">
              {{slide.genre_type}}
        </ion-segment-button> 
    </ion-segment> 
  </ion-toolbar>
   <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of types">

        <div class="no_matches" *ngIf="inScreenLoader">
            <img src="assets/imgs/rotating-ring-loader.gif">
        </div>

        <div class="slider-container" *ngIf="network_status == 2">

          <div  *ngIf="history_music_Result == 0 && !inScreenLoader" class="no_matches">
            <img src="assets/imgs/myupload.png">
            <h5 class="no_data">No records available</h5>
          </div>

          <div class="user_list" *ngFor="let his of history_music_values; let i = index">
            <button ion-item (click)="openModal(his.id,his.rank)">
              <ion-avatar item-start>
                <img src="assets/imgs/contactIcon.png" *ngIf="his.user.image.length==0 || his.user.image[0].image_path.url==null">
                <img src="{{his.user.image[0].image_path.url}}" *ngIf="his.user.image.length!=0 && his.user.image[0].image_path.url!=null">
              </ion-avatar>
              <h2>{{his.title}}</h2>
              <p><span><ion-icon name="ios-person-outline"></ion-icon>{{his.user.first_name}}</span><span><ion-icon name="ios-star-outline"></ion-icon>{{his.votes.length}} votes</span><span><ion-icon name="ios-trophy-outline"></ion-icon>Rank {{his.rank}}</span></p>
            </button>
          </div>

        </div>

       <div class="no_internet slider-container" *ngIf="network_status == 1 && !inScreenLoader">
        <img src="assets/imgs/no_internet.png">
        <h5>Oops!!</h5>
        <p> Sorry, we can’t reach the server,<br> Please check your internet connection</p>        
        <button ion-button color="light" round item-end icon-start (click)="CheckNetwork()">
          <ion-icon name="refresh"  ></ion-icon>
          Try again          
        </button>         
      </div>      
  <div *ngIf="genre_id == slide.id && history_music_values?.length == count_list">    

     <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
       <ion-infinite-scroll-content  loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
     </ion-infinite-scroll>

  </div>

  </ion-slide>
  <div class="no_internet1" *ngIf="network_status == 1 && !inScreenLoader">
      <img src="assets/imgs/no_internet.png">
      <h5>Oops!!</h5>
      <p> Sorry, we can’t reach the server,<br> Please check your internet connection</p>
      <button ion-button color="light" round item-end icon-start (click)="CheckNetwork()">
          <ion-icon name="refresh"></ion-icon> Try again
      </button>
    </div>
</ion-slides>

  <div class="no_matches" *ngIf="inScreenLoader && types == undefined || types == null || types == ''" style="margin-top: -192px;">
    <img src="assets/imgs/rotating-ring-loader.gif" style="margin-top: -55px;">
  </div>    
      
</ion-content>



