<ion-content class="ion-content">
  <div class="header">
    <span>
      <button ion-button icon-only clear (click)="back()">
       <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
      <h4>Forgot Password</h4>
    </span>
    <img src="assets/imgs/logo.png">
  </div>
  <form class="login-form">
    <div *ngIf="otp_box == 0">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" id="forgot_email" #myInput  [(ngModel)]="forgot.emailid" [ngModelOptions]="{standalone: true}" autofocus></ion-input>
      </ion-item>   
    </div>  
   <div *ngIf="otp_box == 1">
      <ion-item>
        <ion-label floating>OTP</ion-label>
        <ion-input type="text" id="forgot_otp" #myInput [(ngModel)]="forgot.otp" [ngModelOptions]="{standalone: true}" autofocus></ion-input>
      </ion-item>      
    </div>
    <div *ngIf="otp_box == 2">
        <ion-item>
          <ion-label floating>New Password</ion-label>
          <ion-input type="password" #myInput minlength="5" maxlength="10" id="forgot_password" [(ngModel)]="forgot.password" [ngModelOptions]="{standalone: true}" autofocus></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" minlength="5" maxlength="10" id="forgot_confirm_password" [(ngModel)]="forgot.confrim" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
    </div>
    <br> 
    <button ion-button block id="forgot_save_button" (click)="goto_login()"> NEXT</button>    
</form>
</ion-content>
